@model ResortTropicalBeach.Models.habitacion

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que quieres eliminar el registro?</h3>
<div>
    <h4>habitación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.piso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.piso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nHabitacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nHabitacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-default" asp-action="Index">Volver a inicio</a>

    </form>
</div>
