@model ResortTropicalBeach.Models.habitacion

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.piso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.piso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nHabitacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nHabitacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-default" asp-action="Index">Volver a inicio</a>

</div>
